Package: linux-kernel-dclc-gfdgdxi-hwe
Version: 5.15.121
Maintainer: gfdgd xi <3025613752@qq.com>
Homepage: https://github.com/gfdgd-xi/dclc-kernel
Architecture: amd64
Severity: serious
Certainty: possible
Check: binaries
Type: binary, udeb
Priority: optional
Depends: linux-headers-5.15.121-amd64-desktop-hwe, linux-image-5.15.121-amd64-desktop-hwe
Section: utils
Installed-Size: 0
Description: 内核（虚包）
