Package: linux-kernel-dclc-gfdgdxi
Version: 4.19.293
Maintainer: gfdgd xi <3025613752@qq.com>
Homepage: https://github.com/gfdgd-xi/dclc-kernel
Architecture: amd64
Severity: serious
Certainty: possible
Check: binaries
Type: binary, udeb
Priority: optional
Depends: linux-headers-4.19.293-amd64-desktop, linux-image-4.19.293-amd64-desktop
Section: utils
Installed-Size: 0
Description: 内核（虚包）
